.ViewPort {
    width: 70dvw;
    /* background-color: #f0f0f0; */
    /* padding: 10px; */
}

@media (min-width: 384px) {
    .ViewPort {
        order: 2;
    }
}

/* @media (min-width: 410px) {
    .ViewPort {
        order: 2;
    }
}

@media (min-width: 600px) {
    .ViewPort {
        order: 2;
    }
}

@media (min-width: 768px) {

    .ViewPort {
        order: 2;
    }
} */

@media (min-width: 1200px) {
   .ViewPort {
        order: 2;
        width: 70dvw;
    }
}
